extends layout

append head
  script.
    require([
      'angular',
      'controllers/editNotifications'
    ],
    function (angular, EditNotificationsController, jQueryMask) {
      angular.module('sip-webrtc-frontend', [])
        .controller('EditNotificationsController', EditNotificationsController);
      angular.bootstrap(document, ['sip-webrtc-frontend']);
    });

block content
  - var userData = JSON.stringify(currentUser)
  .site-wrapper-inner.home-wrap
    .container(ng-controller="EditNotificationsController" ng-init=`initData={account: ${userData}}`)
      .register-content.ng-cloak.col-md-8.col-md-offset-2
        h4 Edit Notifications
        .col-xs-4
          .form-group

            label Ringtone &nbsp;
              button.btn(ng-show="!playing" ng-click="play()")
                span.glyphicon.glyphicon-play
              button.btn(ng-show="playing" ng-click="pause()")
                span.glyphicon.glyphicon-pause
            select.form-control(ng-model="account.ringtone")
              option(value="office") Office
              option(value="legacy") legacy
              option(value="old") Old
              option(value="crystal") Crystal
          .checkbox
            label
              input(type="checkbox" disabled)
              |Browser Notification
              span.badge(data-toggle='tooltip' data-placement="right" title="Enable pop-up notifications to from your browser") ?

        .col-xs-4
          .form-group
          .checkbox
            label
              input(type="checkbox" disabled)
              |Auto Load
              span.badge(data-toggle='tooltip' data-placement="right" title="Automatically load when your browser starts") ?

        .col-xs-4
          .form-group
            label SMS &nbsp;
              span.badge(data-toggle='tooltip' data-placement="right" title="Enter an phone number for SMS alerts on incoming calls") ?
            input(type="text" class="form-control" disabled)

          .form-group(ng-cloak)
            button.btn.btn-default-custom.pull-right.button-block(ng-click="saveNotifications()" name="skipBtn") {{ saveButtonText }}

        .text-center.error-label(ng-show="savingError") Your configuration cannot be saved. Please try again
        .text-center.success-label(ng-show="savedSuccessfully") Your configuration has been saved successfully! #[a.btn(href="/phone") View your web phone!]
