extends layout

append head
  script.
    require([
      'angular',
      'controllers/phone'
    ],
    function (angular, PhoneController, jQueryMask) {
      angular.module('sip-webrtc-frontend', [])
        .controller('PhoneController', PhoneController);
      angular.bootstrap(document, ['sip-webrtc-frontend']);
    });

block content
  .site-wrapper-inner.home-wrap
    .container(ng-controller="PhoneController" ng-init=`init("${agent_username}", "${agent_password}", "${vox_username}", "${vox_password}")`)
      .register-content.ng-cloak.col-md-8.col-md-offset-2
        .text-center
          .well.call-info {{callMsg}}
          img(ng-src="{{phoneImg}}")
        button.btn.btn-default-custom.pull-right.button-block.call-button(ng-show="callState == 'incoming'" ng-click="answerCall()") Answer
        button.btn.btn-default-custom.pull-right.button-block.call-button(ng-show="callState == 'incoming'" ng-click="declineCall()") Decline
        button.btn.btn-default-custom.pull-right.button-block.call-button(ng-show="callState == 'inCall'" ng-click="hangCall()") Hang


