extends layout

prepend head
  script(src="//rawgit.com/voxbone-workshop/webrtc-js/inbound/dist/voxbone-2.2.0-alpha.js")
append head
  script.
    require([
      'angular',
      'controllers/phone'
    ],
    function (angular, PhoneController, jQueryMask) {
      angular.module('sip-webrtc-frontend', [])
        .controller('PhoneController', PhoneController);
      angular.bootstrap(document, ['sip-webrtc-frontend']);
    });

block content
  .site-wrapper-inner.home-wrap
    .container(ng-controller="PhoneController" ng-init=`init("${vox_username}", "${vox_password}", "${ringtone}")`)
      .call-page-content.ng-cloak.col-md-12
        .row
          .col-md-6
            h4 Call Page
            #status-message-list
          .col-md-6
            h6 Call this phone from:
            .call-sip
              p Internal SIP: &nbsp; #{voxbone_webrtc_username}+{{user.browserUsername}}@workshop-gateway.voxbone.com
              p(ng-show="user.sipPassword && user.sipUsername && registrar && callState == 'waiting'") Your SIP: &nbsp; {{user.sipUsername}}@{{registrar}}
            .img-container
              #microphone.int-sensor(ng-show="callState == 'ongoing'")
                #mic1.sensor
                #mic2.sensor
                #mic3.sensor
                #mic4.sensor
                #mic5.sensor
              #earphone.int-sensor(ng-show="callState == 'ongoing'")
                #eap1.sensor
                #eap2.sensor
                #eap3.sensor
                #eap4.sensor
                #eap5.sensor
              img(ng-src="{{phoneImg}}")
              .call-actions
                button.btn.btn-answer.call-button(ng-disabled="callState !== 'receiving'" ng-show="callState !== 'ongoing'" ng-click="answerCall()")
                  span.glyphicon.glyphicon-ok
                  | Answer
                button.btn.btn-decline.call-button(ng-show="callState == 'receiving'" ng-click="declineCall()")
                  span.glyphicon.glyphicon-earphone
                  | Decline
                button.btn.btn-hangup.call-button(ng-show="callState == 'ongoing'" ng-click="hangCall()")
                  span.glyphicon.glyphicon-earphone
                  | Hang up
            .text-center.trouble-connecting
              span Trouble connecting? #[a.contact-link(target="_blank" href="mailto:workshop@voxbone.com?subject=sip2webrtc connection help") Contact us]
