.sip-diagram {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
}

.edit-sip {
  input {
    height: 35px;
  }
  input[type="checkbox"] {
    height: auto;
    margin-right: 5px;
  }
}

.msg-bckgnd {
  background-color: white;
}

.internalSip {
  padding: 5px;
  color: black;
  background-color: white;
}

.badge {
    margin-left: 5px;
}

.allowed-ip{
  position: relative;
  margin-bottom: 20px;

  input {
    display: block;
    height: 38px;
    padding-right: 85px;
  }

  .manage-ips {
    z-index: 5;
    position: absolute;
    top: 1px;
    right: 0;
    width: 38px;
    height: 36px;
    border: none;
    border-left: 1px solid @color-mid-grey;
    background: rgba(0, 0, 0, 0.05);

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }

    &.add-ip {
      right: 38px;
      color: green;
    }

    &.remove-ip {
      color: red;
    }
  }

}

.important-info {
  font-size: 20px;
  color: white;
  text-decoration: none;
  &:hover {
    color: @color-lgreen;
  }
}

.infrastructure {
  display: block;
  margin: 0 auto;
}
