.sip-diagram {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
}

.edit-sip {
    input {
        height: 35px;
    }
    input[type="checkbox"] {
        height: auto;
    }
}

.msg-bckgnd {
  background-color: white;
}

.internalSip {
  padding: 5px;
  color: black;
  background-color: white;
}

.badge {
    margin-left: 5px;
}

.manage-ips {
    display: inline-block !important;
    margin-left: 10px;
}
