.call-page-content {
  background-color: @panel-color;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 100;
  padding: 20px 25px;

  h4 {
    margin-bottom: 30px;
  }

  .img-container {
    background: #fff;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 10px;
    img {
      width: 200px;
      margin-bottom: 20px;
    }
  }

  .call-info {
    color: #fff;
    margin-top: 10px;

    .glyphicon {
      margin-right:  3px;
    }
  }

  .call-actions {
    text-align: center;

    .btn {
      border-radius: 3px;
      margin: 0 3px;

      .glyphicon {
        font-size: 90%;
        margin-right: 5px;
      }

      &.btn-answer {
        background: @color-success;
        color: #fff;

        &:hover {
          background: darken(@color-success, 5%);
        }
      }


      &.btn-decline {
        background: @color-danger;
        color: #fff;

        &:hover {
          background: darken(@color-danger, 5%);
        }
      }


      &.btn-hangup {
        background: @color-danger;
        color: #fff;

        &:hover {
          background: darken(@color-danger, 5%);
        }
      }
    }
  }
}

.call-info {
  color: black;
}

.call-button {
  margin-right: 10px;
  margin-left: 10px;
}

.sensor {
  width: 12px;
  height: 36px;
  display: inline-block;
  margin: 0 0 0 -2px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px 36px;
}

.active {
  background-image: url(../images/sensor-bg-green.png);
}

.peak {
  background-image: url(../images/sensor-bg-red.png);
}

.int-sensor {
  width:auto;
  position: absolute;
}

#microphone {
  left: 50%;
  top: 115px;
  margin-left: 25px;
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(7deg);
}

#earphone {
  left: 50%;
  top: 12px;
  margin-left: 25px;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}

#status-message-list {
  height: 250px;
  overflow-y: auto;
}

.disabled {
  color: @color-mid-light-grey !important;
}

.call-sip {
  p {
    margin: 0;
  }
  white-space: nowrap;
  font-size: 11px;
  background: @color-mid-light-grey;
  margin-bottom: 10px;
  padding: 10px;
}
